@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixin" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: "TitilliumWeb-Regular", sans-serif;
  width: auto;
  margin: 0 auto;
  padding: 0;
  min-width: $min-mobile-screen;
}

button {
  font-family: "TitilliumWeb-Regular", sans-serif;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
  &__desktop {
    @include desktop-breakpoint {
      display: flex;
    }
  }
  &__content {
    background-color: $background-light-grey;
    height: auto;
    // flex-grow: 3;
  }
}
