.gallery {
  &__title {
    // gallery标题的样式
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  &__grid {
    // 网格布局的样式
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // 如果你想在这里就定义对齐方式
    gap: 10px; // 根据需要调整间隙大小
  }

  &__grid-item {
    // 网格项的样式
    flex-basis: calc(100% / 3 - 20px); // 例如，三列布局减去间隙
    // 更多样式...
  }

  &__content {
    // 内容的样式
    // 更多样
  }
}
