@use "./variables" as *;

@mixin mobile-breakpoint {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet-breakpoint {
  @media only screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop-breakpoint {
  @media only screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin component-overlay {
  margin-top: -5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  @include tablet-breakpoint() {
    margin-top: -7rem;
  }
}

@mixin component-content {
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background: $primary-white;
  border-radius: 0.2rem;
  height: 70%;
  width: 90%;
  margin-top: 1rem;

  @include tablet-breakpoint {
    margin-top: 0.75rem;
    height: 95%;
    width: 95%;
  }
  @include desktop-breakpoint {
    width: 86%;
  }
}
@mixin component-box-shadow {
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
}
@mixin component-header {
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include tablet-breakpoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
@mixin t-btn-width {
  padding-right: 1rem;
  padding-left: 1rem;
}
@mixin t-form-padding {
  padding-right: 1rem;
  padding-left: 1rem;
}
@mixin background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin logo-cover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin flex-direction($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}
@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin flex-default($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}
@mixin border-bottom($color) {
  border-bottom-width: 0.3rem;
  border-bottom-style: solid;
  border-color: $color;
}
@mixin mobile-padding-sides {
  padding-right: $m-padding-sides;
  padding-left: $m-padding-sides;
}
@mixin tablet-padding-sides {
  padding-right: $t-padding-sides;
  padding-left: $t-padding-sides;
}
@mixin mobile-tablet-pageheader-text-style {
  //FALLBACK IF SUPPORT DOESNT WORK
  font-size: $m-font-size-h1;
  line-height: $m-line-height-h1;
  font-weight: $semibold-txt;
  letter-spacing: $letter-spacing;
  //CLAMP FEATURE
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-h1, 3vw + 0.75rem, $d-font-size-h1);
    line-height: clamp($m-line-height-h1, 2vw, $d-line-height-h1);
    font-weight: $semibold-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-h1;
    line-height: $d-line-height-h1;
    font-weight: $semibold-txt;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-h1, 3vw + 0.75rem, $d-font-size-h1);
      line-height: clamp($m-line-height-h1, 2vw, $d-line-height-h1);
      font-weight: $semibold-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
//same as section
@mixin mobile-tablet-table-header-text-style {
  font-size: $m-font-size-h4;
  line-height: $m-line-height-h4;
  font-weight: $semibold-txt;
  letter-spacing: $letter-spacing;
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-h4, 3vw + 0.75rem, $d-font-size-h4);
    line-height: clamp($m-line-height-h4, 2vw, $d-line-height-h4);
    font-weight: $semibold-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-h4;
    line-height: $d-line-height-h4;
    font-weight: $regular-txt;
    letter-spacing: $letter-spacing;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-h4, 3vw + 0.75rem, $d-font-size-h4);
      line-height: clamp($m-line-height-h4, 2vw, $d-line-height-h4);
      font-weight: $bold-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
@mixin mobile-tablet-subheader-text-style {
  font-size: $m-font-size-h2;
  line-height: $m-line-height-h2;
  font-weight: $semibold-txt;
  letter-spacing: $letter-spacing;
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-h2, 3vw + 0.75rem, $d-font-size-h2);
    line-height: clamp($m-line-height-h2, 2vw, $d-line-height-h2);
    font-weight: $semibold-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-h2;
    line-height: $d-line-height-h2;
    font-weight: $semibold-txt;
    letter-spacing: $letter-spacing;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-h2, 3vw + 0.75rem, $d-font-size-h2);
      line-height: clamp($m-line-height-h2, 2vw, $d-line-height-h2);
      font-weight: $semibold-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
//
@mixin mobile-tablet-body-p1-text-style {
  font-size: $m-font-size-p1;
  line-height: $m-line-height-p1;
  font-weight: $regular-txt;
  letter-spacing: $letter-spacing;
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-p1, 3vw + 0.75rem, $d-font-size-p1);
    line-height: clamp($m-line-height-p1, 2vw, $d-line-height-p1);
    font-weight: $regular-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-p1;
    line-height: $d-line-height-p1;
    font-weight: $regular-txt;

    letter-spacing: $letter-spacing;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-p1, 3vw + 0.75rem, $d-font-size-p1);
      line-height: clamp($m-line-height-p1, 2vw, $d-line-height-h4);
      font-weight: $regular-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
@mixin mobile-tablet-body-p2-text-style {
  font-size: $m-font-size-p2;
  line-height: $m-line-height-p2;
  font-weight: $regular-txt;
  letter-spacing: $letter-spacing;
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-p2, 3vw + 0.75rem, $d-font-size-p2);
    line-height: clamp($m-line-height-p2, 2vw, $d-line-height-p2);
    font-weight: $regular-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-p2;
    line-height: $d-line-height-p2;
    font-weight: $regular-txt;

    letter-spacing: $letter-spacing;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-p2, 3vw + 0.75rem, $d-font-size-p2);
      line-height: clamp($m-line-height-p2, 2vw, $d-line-height-p2);
      font-weight: $regular-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
@mixin mobile-tablet-body-p3-text-style {
  font-size: $m-font-size-p3;
  line-height: $m-line-height-p3;
  font-weight: $regular-txt;
  letter-spacing: $letter-spacing;
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-p3, 3vw + 0.75rem, $d-font-size-p3);
    line-height: clamp($m-line-height-p3, 2vw, $d-line-height-p3);
    font-weight: $regular-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-p3;
    line-height: $d-line-height-p3;
    font-weight: $regular-txt;

    letter-spacing: $letter-spacing;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-p3, 3vw + 0.75rem, $d-font-size-p3);
      line-height: clamp($m-line-height-p3, 2vw, $d-line-height-p3);
      font-weight: $regular-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
@mixin mobile-tablet-labels-buttons-text-style {
  font-size: $m-font-size-h3;
  line-height: $m-line-height-h2;
  font-weight: $regular-txt;
  letter-spacing: $letter-spacing;
  @supports (font-size: clamp(0px, 0px, 0px)) {
    font-size: clamp($m-font-size-h3, 3vw + 0.75rem, $d-font-size-h3);
    line-height: clamp($m-line-height-h3, 2vw, $d-line-height-h3);
    font-weight: $regular-txt;
    letter-spacing: $letter-spacing;
  }
  @include tablet-breakpoint() {
    font-size: $d-font-size-h3;
    line-height: $d-line-height-h3;
    font-weight: $regular-txt;
    letter-spacing: $letter-spacing;
    @supports (font-size: clamp(0px, 0px, 0px)) {
      font-size: clamp($m-font-size-h3, 3vw + 0.75rem, d-font-size-h3);
      line-height: clamp($m-line-height-h3, 2vw, $d-line-height-h3);
      font-weight: $regular-txt;
      letter-spacing: $letter-spacing;
    }
  }
}
