@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: "TitilliumWeb-Regular", sans-serif;
  width: auto;
  margin: 0 auto;
  padding: 0;
  min-width: $min-mobile-screen;
}

button {
  font-family: "TitilliumWeb-Regular", sans-serif;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  &__desktop {
    @include desktop-breakpoint {
      display: flex;
    }
  }
  // &__box {
  //   width: 100%;
  // }
  &__content {
    flex-grow: 1;
  }
}
